.about

  a.close
    i.icon.icon-close

  h1 Chemozart

  div
    small version 1.0.0-alpha

  hr

  p Chemozart is an open-source online web-based chemical visualization tool with RESTful cloud-based optimization API. This project is built on top of these packages :

  ul
    li <a href='https://github.com/mohebifar/openbabel-node'>openbabel-node</a> - A port of <a href='http://openbabel.org' target='_blank'>Open Babel</a> in node.js
    li <a href='https://github.com/mohebifar/mol3d'>mol3d</a> - A 3D molecular visualization tool on top of WebGL
    li <a href='https://github.com/mohebifar/chem.js'>chem.js</a> - A molecular modeling library written in javascript

  p This software is published under
    a(href='http://www.apache.org/licenses/LICENSE-2.0', target='_blank') Apache License v2.0
