body {
  margin: 0;
  padding: 0;
  font-family: RobotoDraft, Roboto, 'Helvetica Neue', sans-serif;
}

// injector
@import 'main/main.less';
@import 'about/about.less';
@import 'browsehappy/browsehappy.less';
@import 'element/element.less';
@import 'footer/footer.less';
@import 'help/help.less';
@import 'menubar/menubar.less';
@import 'statusbar/statusbar.less';
@import 'toolbar/toolbar.less';
// endinjector

a {
  color: #466266;
  cursor: pointer;

  &:hover {
    color: #708B91;
  }

  &, &:active {
    text-decoration: none;
  }
}

@keyframes modalShow {
  from {
    opacity: 0;
    transform: perspective(900px) translate3d(-50%, -70%, 0) rotateX(-90deg);
  }

  to {
    opacity: 1;
    transform: perspective(900px) translate3d(-50%, -50%, 0) rotateX(0deg);
  }
}

@keyframes modalHide {
  from {
    opacity: 1;
    transform: perspective(900px) translate3d(-50%, -50%, 0) rotateX(0deg);
  }

  to {
    opacity: 0;
    transform: perspective(900px) translate3d(-50%, 70%, 0) rotateX(90deg);
  }
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5em;
  cursor: pointer;

  &:hover {
    color: #303030;
  }
}

hr {
  background: none;
  height: 0;
  border: none;
  border-top: 1px solid rgba(40, 40, 40, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

@media print {
  .toolbar, .menubar, footer {
    opacity: 0;
  }
}

.cg-notify-message {
  position: fixed;
  left: 50%;
  top: 0;
  z-index: 9999;
  max-width: 400px;
  text-align: center;
  background-color: #d9edf7;
  color: #31708f;
  padding: 15px 30px;
  border: 1px solid #bce8f1;
  border-radius: 4px;
  transition: top 0.5s ease-out, opacity 0.2s ease-out;
  visibility: hidden;
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  font-size: .8em;

  &.success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
  }

  &.error {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
  }
}

.cg-notify-close {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0;
  font-size: 21px;
  font-weight: 700;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .2;
  position: absolute;
  top: 5px;
  right: 8px;
  line-height: 15px;
}

.cg-notify-close:hover, .cg-notify-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  opacity: .5;
}

.cg-notify-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

// Mobile Styles
@media (max-width: 420px) {
  .hidden-mobile {
    display: none;
  }
}

// Tablet Style
@media (max-width: 600px) {
  .hidden-tablet {
    display: none;
  }
}
