div.menubar(ng-controller='MenubarCtrl')
  ul
    li
      a File
      ul
        li
          a(ng-click='canvas.clear()') New
        li
          a(ng-click='print()') Print

    li
      a Edit
      ul
        li
          a(ng-click='canvas.clear()') Clear

    li
      a Build
      ul
        li
          a(ng-click='build()') Build 3D
        li
          a(ng-click='addHydrogens()') Add Hydrogens

    li
      a Help
      ul
        li
          a(ng-click='help()') Help Topics
        li
          a(ng-click='about()') About

  .logo
    Chemozart
