div.toolbar(ng-controller='ToolbarCtrl')
  ul
    li
      a(ng-click='', ng-class='{active: canvas.currentMode === Mol3D.Mode.Orbit}' title='Positioning the camera')
        i.icon.icon-move
    li
      a.active(ng-click='', title='Editing the molecule')
        i.icon.icon-edit
    li
      a(ng-click='', title='Choose the element from periodic table')
        i.icon.icon-atom
    li
      a(ng-click='', title='Reposition the atoms')
        i.icon.icon-pointer
    li.separator
    li
      a(ng-click='', title='Help')
        i.icon.icon-help
    li
      a(ng-click='', title='Source on github')
        i.icon.icon-github
