div(ng-include='"components/menubar/menubar.html"')

div(ng-include='"components/toolbar/toolbar.html"')

#canvas-container

choose-element

help

about

browse-happy

div(ng-include='"components/footer/footer.html"')
