.help

  h2 Modes

  h3 Camera Mode

  .control-help
    p
      strong Rotate
      span Mouse move holding left button
    p
      strong Pan
      span Mouse move holding right button
    p
      strong Zoom
      span Scroll | Mouse move holing middle button

  h3 Editing Mode

  .control-help
    p
      strong Add Atom
      span Click on empty space
    p
      strong Remove Atom
      span Right click on an atom
    p
      strong Add bond
      span Drag from one atom to another
    p
      strong Remove bond
      span Right click on bond
    p
      strong Increase bond order
      span Click on bond
