#browsehappy(ng-if='! support')
  .content
    h2 You are using an <strong>outdated</strong> browser.
    p
      | Please <a href="http://browsehappy.com/">upgrade your browser</a> to be able to use this software.
      small This application uses WebGL for 3D rendering.
